<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Transaction History</h2>
    <table>
        <thead>
        <tr>
            <th>Amount</th>
            <th>Type</th>
            <th>Date</th>
            <th>Charge</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.amount}"></td>
            <td th:text="${transaction.type}"></td>
            <td th:text="${transaction.transactionDate}"></td>
            <td th:text="${transaction.charge}"></td>
            <td th:text="${transaction.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
